; a pool called www
[www]
user = www-data
group = www-data

; or listen on a TCP socket
listen = 127.0.0.1:9000

pm = dynamic
pm.max_children = __FPM_MAX_CHILDREN__
pm.start_servers = __FPM_START_SERVERS__
pm.min_spare_servers = __FPM_MIN_SPARE_SERVERS__
pm.max_spare_servers = __FPM_MAX_SPARE_SERVERS__
